---
type Props = {
  options: string[];
};

const { options } = Astro.props;
---

<label class="bg-gray border border-border rounded-full flex" for="click-type">
  <input
    type="checkbox"
    class="sr-only peer"
    id="click-type"
    aria-label="Change click type"
  />
  {
    options.map((i) => (
      <span class="px-8 py-2 cursor-pointer pointer-events-auto odd:peer-checked:bg-red-500 even:peer-[:not(:checked)]:bg-red-500 rounded-full">
        {i}
      </span>
    ))
  }
</label>
<script is:inline>
  const input = document.getElementById("click-type");
  input.addEventListener("click", () => {
    console.log("hi", input.checked, input.value);
  });
</script>
