---
export type Props = { options: string[] };

const { options } = Astro.props;
---

<label
  class="bg-gray border border-zinc-600 rounded-full flex p-1 w-fit"
  shadow-purple-500
  for="click-type"
>
  <input
    type="checkbox"
    class="sr-only peer"
    id="click-type"
    aria-label="Change click type"
  />
  {
    options.map((i) => (
      <span
        class:list={[
          "px-4 py-2 cursor-pointer pointer-events-auto rounded-full border border-transparent text-sm flex items-center text-center justify-center",
          "even:peer-[:not(:checked)]:bg-neutral-600 even:peer-[:not(:checked)]:border-neutral-400",
          "even: odd:peer-checked:bg-neutral-600 odd:peer-checked:border-neutral-400",
        ]}
      >
        {i}
      </span>
    ))
  }
</label>
<script is:inline>
  const input = document.getElementById("click-type");
  input.addEventListener("click", () => {
    console.log("hi", input.checked, input.value);
  });
</script>
