@font-face {
  font-family: "NotoSans";
  src: url("/fonts/NotoSansNagMundari-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NotoSans";
  src: url("/fonts/NotoSansNagMundari-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html, body {
  font-family: 'NotoSans', sans-serif;
}
